@keyframes CoverBob {
	from { transform: perspective(50vw) rotateX(10deg) rotateY(15deg) rotateZ(2deg); }
	to { transform: perspective(50vw) rotateX(-5deg) rotateY(25deg) rotateZ(-4deg); }
}
@keyframes scrolltex {
    0% {background-position: 0px};
    100% {background-position: 30px};
}

@font-face {
    font-family: Bahnschrift;
    src: url("BAHNSCHRIFT.TTF");
}

body {
    height: 100vh;
    background: black;
    color: white;
    font-family: Bahnschrift, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {
    position: relative;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border: 1px solid white;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0px 0px 25px 1px #ff24ff;;
}
.container > *:not(.wrap) {
    width: 100%;
}
a {
    position: relative;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.05);
    color: gray;
    border: 1px solid gray;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    transition: background 1s ease;
}
a:hover {
    color: rgb(255, 102, 250);
    border: 1px solid rgb(255, 102, 250);
}
a:active {
    color: rgb(255, 169, 252);
    border: 1px solid rgb(255, 169, 252);
}
a::after {
    content: "";
    position: absolute;
    inset: 0;
    background: fixed repeating-linear-gradient(
        45deg,
        rgba(255, 105, 238, 0.5),
        rgba(255, 105, 238, 0.5) 10px,
        rgba(255, 105, 238, 1) 10px,
        rgba(255, 105, 238, 1) 20px
      );
    opacity: 0;
    transition: opacity 0.5s ease;
    animation: scrolltex 0.5s linear infinite;
}
a:hover::after {
    opacity: 0.1;
}
a:active::after {
    opacity: 0.5;
}
h1 {
    text-align: center;
}
.pfp {
    width: 200px;
    max-width: 20vw;
    border-radius: 20px;
    animation: 10s CoverBob cubic-bezier(.41,.01,.54,.97) alternate infinite
}
.wrap {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}